# Books Recommender System Using Clustering | Collaborative-Based

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
books = pd.read_csv('data/Books.csv', low_memory=False)

In [58]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
248891,088902913X,From Worst to First: The Toronto Blue Jays in ...,Buck Martinez,1985,Fitzhenry &amp; Whiteside,http://images.amazon.com/images/P/088902913X.0...,http://images.amazon.com/images/P/088902913X.0...,http://images.amazon.com/images/P/088902913X.0...
265252,0523424248,"Death Comes Home (The Force, No 4)",Jake Decker,1985,Pinnacle Books,http://images.amazon.com/images/P/0523424248.0...,http://images.amazon.com/images/P/0523424248.0...,http://images.amazon.com/images/P/0523424248.0...
217872,0449308456,The Russian Revolution,Robert Goldston,1982,Fawcett Books,http://images.amazon.com/images/P/0449308456.0...,http://images.amazon.com/images/P/0449308456.0...,http://images.amazon.com/images/P/0449308456.0...
64039,0451151976,Dr. Adder,K. W. Jeter,1989,New American Library,http://images.amazon.com/images/P/0451151976.0...,http://images.amazon.com/images/P/0451151976.0...,http://images.amazon.com/images/P/0451151976.0...
43613,1559705612,The Queen &amp; Di : The Untold Story,Ingrid Seward,2001,Arcade Publishing,http://images.amazon.com/images/P/1559705612.0...,http://images.amazon.com/images/P/1559705612.0...,http://images.amazon.com/images/P/1559705612.0...

In [59]:
print(books['Year-Of-Publication'].unique())

['2002' '2001' '1991' '1999' '2000' '1993' '1996' '1988' '2004' '1998'
 '1994' '2003' '1997' '1983' '1979' '1995' '1982' '1985' '1992' '1986'
 '1978' '1980' '1952' '1987' '1990' '1981' '1989' '1984' '0' '1968' '1961'
 '1958' '1974' '1976' '1971' '1977' '1975' '1965' '1941' '1970' '1962'
 '1973' '1972' '1960' '1966' '1920' '1956' '1959' '1953' '1951' '1942'
 '1963' '1964' '1969' '1954' '1950' '1967' '2005' '1957' '1940' '1937'
 '1955' '1946' '1936' '1930' '2011' '1925' '1948' '1943' '1947' '1945'
 '1923' '2020' '1939' '1926' '1938' '2030' '1911' '1904' '1949' '1932'
 '1928' '1929' '1927' '1931' '1914' '2050' '1934' '1910' '1933' '1902'
 '1924' '1921' '1900' '2038' '2026' '1944' '1917' '1901' '2010' '1908'
 '1906' '1935' '1806' '2021' '2012' '2006' 'DK Publishing Inc' 'Gallimard'
 '1909' '2008' '1378' '1919' '1922' '1897' '2024' '1376' '2037']

In [60]:
books['Year-Of-Publication'].isnull().sum()

0

In [61]:
books[pd.to_numeric(books['Year-Of-Publication'], errors='coerce').isnull()]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN

In [62]:
books['Year-Of-Publication'] = pd.to_numeric(books['Year-Of-Publication'], errors='coerce')

In [63]:
print(books['Year-Of-Publication'].isnull().sum())

3

In [64]:
books['Year-Of-Publication'].fillna(0, inplace=True)

C:\Users\Ziad\AppData\Local\Temp\ipykernel_14088\1793630860.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  books['Year-Of-Publication'].fillna(0, inplace=True)

In [65]:
books[books['Year-Of-Publication'] == 0]['Year-Of-Publication'].count()

4621

In [66]:
print(books['Year-Of-Publication'].isnull().sum())

0

In [67]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
242104,3518380885,Hiobs Stern: Science-Fiction-Roman (Phantastis...,Herbert W Franke,1988.0,Suhrkamp,http://images.amazon.com/images/P/3518380885.0...,http://images.amazon.com/images/P/3518380885.0...,http://images.amazon.com/images/P/3518380885.0...
269014,0966753453,The Deadly Directory 2002,Kate Derie,2002.0,Deadly Serious Press,http://images.amazon.com/images/P/0966753453.0...,http://images.amazon.com/images/P/0966753453.0...,http://images.amazon.com/images/P/0966753453.0...
94179,0449206912,Fly Away Home,Marge Piercy,1985.0,Fawcett Books,http://images.amazon.com/images/P/0449206912.0...,http://images.amazon.com/images/P/0449206912.0...,http://images.amazon.com/images/P/0449206912.0...
50995,0136862705,The Power of Consultative Selling,Bryce Webster,1987.0,Prentice Hall Art,http://images.amazon.com/images/P/0136862705.0...,http://images.amazon.com/images/P/0136862705.0...,http://images.amazon.com/images/P/0136862705.0...
246285,0385474407,The Chamber (Limited Edition),JOHN GRISHAM,1994.0,Doubleday,http://images.amazon.com/images/P/0385474407.0...,http://images.amazon.com/images/P/0385474407.0...,http://images.amazon.com/images/P/0385474407.0...

In [68]:
books['Year-Of-Publication'].dtype

dtype('float64')

In [69]:
books['Year-Of-Publication'] = books['Year-Of-Publication'].dropna().astype(int)

In [70]:
books['Year-Of-Publication'].dtype

dtype('int32')

In [71]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
92316,3518368834,Kurgast. Aufzeichnungen von einer Badener Kur.,Hermann Hesse,1977,Suhrkamp,http://images.amazon.com/images/P/3518368834.0...,http://images.amazon.com/images/P/3518368834.0...,http://images.amazon.com/images/P/3518368834.0...
122758,0312070373,A Murder in Wartime: The Untold Spy Story That...,Jeff Stein,1992,St Martins Pr,http://images.amazon.com/images/P/0312070373.0...,http://images.amazon.com/images/P/0312070373.0...,http://images.amazon.com/images/P/0312070373.0...
18186,0553444433,"Imaginary Lover (Loveswept, No 717)",Sandra Chastain,1994,Loveswept,http://images.amazon.com/images/P/0553444433.0...,http://images.amazon.com/images/P/0553444433.0...,http://images.amazon.com/images/P/0553444433.0...
238285,0689861753,Bound,Donna Jo Napoli,2004,Atheneum,http://images.amazon.com/images/P/0689861753.0...,http://images.amazon.com/images/P/0689861753.0...,http://images.amazon.com/images/P/0689861753.0...
80591,0441009212,Dinotopia Lost,Alan Dean Foster,2002,Ace Books,http://images.amazon.com/images/P/0441009212.0...,http://images.amazon.com/images/P/0441009212.0...,http://images.amazon.com/images/P/0441009212.0...

In [72]:
books.shape

(271360, 8)

In [73]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [74]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-M']]

In [75]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
101375,1558680691,Culture Shock!: Sri Lanka,Robert Barlas,1991,Graphic Arts Center Publishing Company,http://images.amazon.com/images/P/1558680691.0...
44497,0761104488,The Jump Rope Book (Classic Games),Elizabeth Loredo,1996,Workman Publishing,http://images.amazon.com/images/P/0761104488.0...
163533,0786224185,Agatha Raisin and the Witch of Wyckhadden (Tho...,M. C. Beaton,2000,Thorndike Press,http://images.amazon.com/images/P/0786224185.0...
264678,0553151819,Encyclopedia Brown Tracks Them Down (Encyclope...,Donald J. Sobol,1982,Bantam Books,http://images.amazon.com/images/P/0553151819.0...
16143,0812533577,Wyrms,Orson Scott Card,1988,Tor Books,http://images.amazon.com/images/P/0812533577.0...

In [76]:
books = books.rename(columns={
    'Book-Title': 'title',
    'Book-Author': 'author',
    'Year-Of-Publication': 'year',
    'Publisher': 'publisher',
    'Image-URL-M': 'image-url'
})

In [77]:
books.sample(5)

,ISBN,title,author,year,publisher,image-url
103029,0425176681,The Tentmaker (Lily Connor Mysteries (Paperback)),Michelle Blake,2000,Prime Crime,http://images.amazon.com/images/P/0425176681.0...
221598,0374213542,Moth Smoke,Mohsin Hamid,2000,Farrar Straus &amp; Giroux,http://images.amazon.com/images/P/0374213542.0...
72460,044015538X,Matlock Paper,Robert Ludlum,1974,Dell Publishing Company,http://images.amazon.com/images/P/044015538X.0...
240211,1855940906,Luke Kelly: A Memoir,Des Geraghty,1994,Attic Press,http://images.amazon.com/images/P/1855940906.0...
133062,0066210712,The Apprentice Lover: A Novel,Jay Parini,2002,HarperCollins Publishers,http://images.amazon.com/images/P/0066210712.0...

In [78]:
users = pd.read_csv('data/Users.csv')
ratings = pd.read_csv('data/Ratings.csv')

In [79]:
users.sample(5)

        User-ID                         Location   Age
55688     55689  philadelphia, pennsylvania, usa  26.0
260780   260781           chicago, illinois, usa  37.0
197232   197233      boynton beach, florida, usa   NaN
35608     35609           bilbao, vizcaya, spain  27.0
112147   112148         toronto, ontario, canada  20.0

In [80]:
ratings.sample(5)

        User-ID        ISBN  Book-Rating
709723   172061  0312970633            0
897317   217106  1552125939            0
384480    93047  0394895894            0
656453   159033  1551667126            0
530851   128045  0375705856            8

In [81]:
print(f"Shape of books: {books.shape}")
print(f"Shape of users: {users.shape}")
print(f"Shape of ratings: {ratings.shape}")

Shape of books: (271360, 6)
Shape of users: (278858, 3)
Shape of ratings: (1149780, 3)

In [82]:
users = users.rename(columns={
    'User-ID': 'user-id',
    'Location': 'location',
    'Age': 'age'
})
ratings = ratings.rename(columns={
    'User-ID': 'user-id',
    'Book-Rating': 'rating'
})

In [83]:
len(ratings['user-id'].unique())

105283

In [84]:
x = ratings['user-id'].value_counts() > 200
x[x]

user-id
11676     True
198711    True
153662    True
98391     True
35859     True
          ...
274808    True
28634     True
59727     True
268622    True
188951    True
Name: count, Length: 899, dtype: bool

In [85]:
ratings = ratings[ratings['user-id'].isin(x[x].index)]

In [86]:
ratings.shape

(526356, 3)

In [87]:
len(ratings['user-id'].unique())

899

In [88]:
ratings.sample(5)

        user-id        ISBN  rating
480988   114865  0261662007       0
169107    36836  0553271636       0
485973   115490  0671021001       0
734042   177432  0451170385       8
959841   231857  0871133083       0

In [89]:
ratings_with_books = ratings.merge(books, on='ISBN')

In [90]:
ratings_with_books.shape

(487671, 8)

In [91]:
ratings_with_books.sample(5)

,user-id,ISBN,rating,title,author,year,publisher,image-url
174326,100459,037604134X,0,Crochet Techniques and Projects,Sunset Editors,1975,Leisure Arts,http://images.amazon.com/images/P/037604134X.0...
29154,12982,8420441708,0,La Carta Esferica / The Nautical Chart (Spanis...,Arturo Perez-Reverte,2001,"Alfaguara Ediciones, S.A. (Spain)",http://images.amazon.com/images/P/8420441708.0...
276918,162639,0446360635,0,Group Therapy,Shelby Hearon,1990,Warner Books,http://images.amazon.com/images/P/0446360635.0...
20983,11676,0505520923,7,Traded Secrets (Timeswept),Victoria Presley,1996,Love Spell,http://images.amazon.com/images/P/0505520923.0...
141450,81492,0446608009,0,The Drowning People,Richard Mason,2000,Warner Vision,http://images.amazon.com/images/P/0446608009.0...

In [92]:
num_ratings = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [93]:
num_ratings.sample(5)

                                                    title  rating
61694   Irresistible Enemy (Harlequin Presents, No 11485)       2
120361  The Complete Guide to Home Plumbing: A Compreh...       1
155415            Whispers In The Woods (Reader's Choice)       8
102331  Sea Sprite (Sirens Of The Sea) (Harlequin Hist...       5
61831   Isard's Revenge (Star Wars: X-Wing Series, Boo...       4

In [94]:
num_ratings = num_ratings.rename(columns={
    'rating': 'num-of-ratings'
})

In [95]:
num_ratings.sample(5)

                                                    title  num-of-ratings
24885   Cleveland: A Concise History, 1796-1990 (The E...               1
7055        Agatha Christie's Mysterious Affair at Styles               3
13989                                 Battlefront Vietnam               1
116753  The BeginnerÂ¿s Handbook of Woodcarving : With...               1
115531  The Amazing &amp; Incredible Special Effects C...               1

In [96]:
final_ratings = ratings_with_books.merge(num_ratings, on='title')

In [97]:
final_ratings.sample(5)

,user-id,ISBN,rating,title,author,year,publisher,image-url,num-of-ratings
249157,144555,0809463164,0,Psychic Voyagers (Mysteries of the Unknown),Time Life Books,1988,Warner Books,http://images.amazon.com/images/P/0809463164.0...,6
294570,172030,0373058896,0,"Accidental Bridegroom (Jilted!, Man Of The Mon...",Ann Major,1994,Silhouette,http://images.amazon.com/images/P/0373058896.0...,5
63776,33974,0761316426,0,"Cannibals, The:Starring Tiffan (Single Titles)",Cynthia Grant,2002,Roaring Brook,http://images.amazon.com/images/P/0761316426.0...,2
472694,266056,0394525280,0,World's Fair,E. L. Doctorow,1985,Random House Inc,http://images.amazon.com/images/P/0394525280.0...,19
302312,175003,0373167040,0,Mister Christmas (The Holiday Heart) (Harlequi...,Linda Cajio,1997,Harlequin,http://images.amazon.com/images/P/0373167040.0...,4

In [98]:
final_ratings.shape

(487671, 9)

In [99]:
final_ratings = final_ratings[final_ratings['num-of-ratings'] >= 50]

In [100]:
final_ratings.sample(5)

,user-id,ISBN,rating,title,author,year,publisher,image-url,num-of-ratings
20717,11676,0451204948,10,A Day Late and a Dollar Short,Terry McMillan,2002,Signet Book,http://images.amazon.com/images/P/0451204948.0...,53
407933,232945,0553582755,0,One Door Away from Heaven,Dean R. Koontz,2002,Bantam Books,http://images.amazon.com/images/P/0553582755.0...,90
171771,98741,0060008024,0,Angels,Marian Keyes,2002,William Morrow,http://images.amazon.com/images/P/0060008024.0...,68
48270,26516,0515136530,0,"Key of Valor (Roberts, Nora. Key Trilogy, 3.)",Nora Roberts,2003,Jove Pubns,http://images.amazon.com/images/P/0515136530.0...,63
371851,212923,044022103X,0,One True Thing,Anna Quindlen,1995,Dell,http://images.amazon.com/images/P/044022103X.0...,103

In [101]:
final_ratings.shape

(61853, 9)

In [102]:
final_ratings = final_ratings.drop_duplicates(['title', 'user-id'])

In [103]:
final_ratings.shape

(59850, 9)

In [104]:
book_pivot = final_ratings.pivot_table(columns='user-id', index='title', values='rating')

In [105]:
book_pivot

user-id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
book_pivot = book_pivot.fillna(0)

In [107]:
book_pivot

user-id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
from scipy.sparse import csr_matrix

In [109]:
book_sparse = csr_matrix(book_pivot)

In [110]:
book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 14961 stored elements and shape (742, 888)>

In [113]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [114]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [115]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1, -1), n_neighbors=6)

In [116]:
distance

array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
        76.30203143]])

In [117]:
suggestion

array([[237, 238, 240, 241, 184, 536]], dtype=int64)

In [118]:
for book in suggestion[0]:
    print(book_pivot.index[book])

Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Goblet of Fire (Book 4)
Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Sorcerer's Stone (Book 1)
Exclusive
The Cradle Will Fall

In [119]:
book_pivot.index[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [120]:
book_name = book_pivot.index

In [121]:
book_name

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [122]:
import pickle
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(book_name, open('artifacts/book_name.pkl', 'wb'))
pickle.dump(final_ratings, open('artifacts/final_ratings.pkl', 'wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl', 'wb'))

In [124]:
def recommend_book(book_name, n_neighbors=6):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1, -1), n_neighbors=n_neighbors+1)
    for book in suggestion[0]:
        print(book_pivot.index[book])
    

recommended_books = recommend_book(book_name='A Bend in the Road', n_neighbors=10)

A Bend in the Road
Exclusive
The Cradle Will Fall
No Safe Place
Family Album
Last Man Standing
Lake Wobegon days
Long After Midnight
Abduction
Jacob Have I Loved
Fine Things